.toolbar {
  height: var(--toolbar-height);
  background: var(--dark-blue);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header {
    margin: 0 40px;
    font-size: 18px;
    a {
      color: white;
      text-decoration: none;
    }
  }
}

.wrapper {
  min-height: calc(100vh - var(--toolbar-height));
  background: var(--light-gray);
  padding: var(--wrapper-padding);
}
