<div class="header">{{title}}</div>

<div class="list" *ngIf="!(loading$ | async); else spinner">
  <div class="item" *ngFor="let item of (items$ | async)">
    <ng-template
      [ngTemplateOutlet]="template"
      [ngTemplateOutletContext]="{ $implicit: item }">
    </ng-template>
  </div>
</div>

<ng-template #spinner>
  <app-spinner></app-spinner>
</ng-template>

<app-pagination [page]="page$ | async" [totalResults]="totalResults$ | async" (pageChanged)="onPageChange($event)"></app-pagination>
